.navContainer{
  border: 5px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.navContainer > ul{
  display: flex;
  list-style: none;

}

li{
  margin-left: 20px;
}

.para{
  text-align: center;
  margin-top: 20px;
}